body {
    margin: 20px;
  
    font-family: serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #d8ff29;
    color: #000000e0;
    border-bottom: 6px solid #d8cefe;
    animation: normal;
        
  
}
.card1{
    font-style: italic;
}

.border-blue {
    border: 1px dotted rgb(216, 179, 42);
    
}



